<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">MODOCINE</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="movies">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
<footer>
  <div class="row navbar bg-dark">
    <div class="col-md-11 text-center">Todos los derechos reservados <strong>Modocine Inc.®</strong></div>
  </div>
</footer>
